/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  
}

body {
  background-color: darkgray;
  margin: 0;
  padding: 0 33px;
}

nav {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 0;
  background-color: aqua;
  text-align: center;
}

nav .logo {
  display: inline-block;
  height: 100px;
  width: 400px;
  background-color: lightyellow;
}

nav .logo a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .logo img {}

main {
  top: 100px;
}

main .container{
  margin: 1% 0;
  padding-top: 46%;
  position: relative;
}

main .content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.cover_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.onhover:hover .cover_overlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content a {
  text-decoration: none;
}

main .container_narrow {
  position: relative;
  height: 100%;
  width: 33%;
  padding;
}

main .container_wide {
  position: relative;
  height: 100%;
  width: 66%;
  background-color: green;
}

main .top {
  position: absolute;
  background-color: pink;
  width: 100%;
  height: 49%;
  top: 0;
}

main .bottom {
  position: absolute;
  background-color: pink;
  width: 100%;
  height: 49%;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  height: 200px;
  bottom: 0;
  background-color: gold;
}

footer .contact {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 20px 20px;
}

footer .copyright {
  position: relative;
  height: 100%;
  width: 33%;
  padding: 20px 20px;
}

footer .copyright .center{
  position: relative;
  text-align: right;
  top: 50%;
  right: 0;
}
