/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: darkgray;
  margin: 0;
  padding: 0 33px;
}

nav {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 0;
  background-color: aqua;
  text-align: center;
}

nav .back {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: auto;
  background-color: lightpink;
  left: 0;
  top: 0;
}

nav .back a {
  display: flex;
  align-items: center;
  padding: 0 5px ;
  height: 100%;
  width: 100%;
}


.logo {
  display: inline-block;
  height: 100px;
  width: 400px;
  background-color: lightyellow;
}

.logo a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {}

main {
  top: 100px;
}

main .container_img{
  margin: 1% 0;
  padding-top: 56.25%;
  position: relative;
  background-color: lightgrey;
}

main .content_img {
  display: inline;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

main .content_img .img {
  position: absolute;
  background-color: lime;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .container_cover .container_title {
  position: relative;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .container_cover .container_title .text {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: :left;
}


main .container_bar_area {
  background-color: aqua;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .container_process {}

main .container_process .container_narrow{}
main .container_process .container_wide{}

main .container_process .process_title{}
main .container_process .process_detail{}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  height: 200px;
  background-color: gold;
}

footer .contact {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 20px 20px;
}

footer .copyright {
  position: relative;
  height: 100%;
  width: 33%;
  padding: 20px 20px;
}

footer .copyright .center{
  position: relative;
  text-align: right;
  top: 50%;
  right: 0;
}
